*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size:18px;
}
body{
    background-image: url("../img/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header ul{
    display:flex;
    justify-content:flex-end;
    margin: 40px 180px;
}
header ul li{
    margin-left:85px;
    background-color: #c4c4c4;
    padding:20px 14px;
    border-radius:0 30px;
    transition:.5s;
}
header ul li:hover{
    background-color:#79B331;
}
header ul li a{
    padding:20px 0;
    color: #000;
}
.rect{
    width:392px;
    height:156px;
    position:absolute;
    right:180px;
    margin-top:80px;
    
}
.circ{
    width:32px;
    height:32px;
    border-radius: 50%;
    background-color:#79B331;
    position:absolute;
    animation:circ 3s infinite;
}
@keyframes circ {
    0%{
        top:0;
        left:0;
    }
    25%{
        left:360px;
        top:0;
    }
    50%{
        top:124px;
        left:360px;
    }
    75%{left:0;
        top:124px;
    }
    100%{
        left:0;
        top:0;
    }

    
}
.time{
    padding:40px ;
}
.container{
    padding-top:40px;
}

.rect .container #countdown ul{
    display:flex;
    justify-content: center;

}
.rect .container #countdown ul li span{
    padding:4px;
    font-size: 25px;
}
#headline{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
}
.textsection{
    width:1061px;
    height:500px;
    position:absolute;
    top:450px;
    right:40px;
}
.srect{
    background-color: #c4c4c4;
    width:70px;
    height:70px;
    border-radius: 0 50%;
    margin:0 3px;
}
.srect,.elements p a{
    transition:.5s;
}
.elements{
    position:absolute;
    display:flex;
    padding:0;
    
}
.el1{right:50%;
    
}
.el2{
    top:250px;
    right: 50%;
}
.el3{
    flex-direction: row-reverse;
    top:135px;
    left:50%;

}
.el4{
    flex-direction: row-reverse;
    top:380px;
    left:50%;
}
.line{
    position: absolute;
    left:calc(50%);
    width:2px;
    height:429px;
    background-color: #c4c4c4;
}
.elements p a:hover{
    color: #79B331;
}
.elements .srect:hover{
    background-color: #79B331;
}
.s1,.s2{
    transform:rotate(90deg);
}